@model IEnumerable<FM.lojavirtual.Application.ViewModels.TiposVeiculoViewModel>;


<ul style="white-space">
    <li class="active btn-filtro-veiculos" onclick="javascript: ListarVeiculos()">Todos</li>
@foreach (var item in Model)
{
        <li class="btn-filtro-veiculos" onclick="javascript: FiltrarVeiculos(@item.Id, this)">@item.Nome</li>
}
</ul>