@*<link href="~/lib/font-awesome.min.css" rel="stylesheet" />*@
@*<link href="~/lib/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/elegant-icons.css" rel="stylesheet" />
<link href="~/lib/jquery-ui.min.css" rel="stylesheet" />
<link href="~/lib/nice-select.css" rel="stylesheet" />*@

<script src="~/lib/mixitup.min.js"></script>

<style>
    #btn_adicionar {
        display: flex;
        flex-direction: column;
        align-content: end;
        margin-bottom: 1em;
    }
</style>

<div class="row" style="display: flex;flex-direction: row;text-align: center;">
    @*<div class="hero__item set-bg" style="height: 431px;
    display: flex;
    align-items: center;
    padding-left: 75px;">
    <div class="hero__text">
    <span>FRUIT FRESH</span>
    <h2>Vegetable <br />100% Organic</h2>
    <p>Free Pickup and Delivery Available</p>
    <a href="#" class="primary-btn">SHOP NOW</a>
    </div>
    <img src="~/imagens/banners/banner.jpg" />
    </div>
    *@

    <section>
        <img src="~/imagens/banners/banner1.jpg" />
    </section>

    <section class="featured spad">
        <div class="containfer">
            <div class="row mt-4">
                <div class="col-lg-12" style="display: flex;flex-direction: column;">
                    <div class="featured__controls">
                        <div class="container-tipos-veiculo"></div>
                    </div>
                </div>
            </div>


            @*#################################*@
            @*Container de veículos disponíveis*@
            @*#################################*@

            <div class="row" id="btn_adicionar">
                <a class="btn btn-warning" onclick="javascript:AdicionarGet()"><i class="fa-solid fa-plus"></i> adicionar</a>
            </div>
            <div class="row featured__filter container-produtos"> </div>
        </div>
    </section>
</div>


<script>

    window.onload = function () {
        ListarVeiculos();
        //ListarTiposVeiculos();
    };

    function ListarVeiculos() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("ListarVeiculos", "Veiculo")',
            data: {},
            success: function (recData) {

                $('.container-produtos').html(recData);
            },
            error: function (recData) {
                console.log(recData)
            },
            complete: function () {

            }
        });
    }

    function FiltrarVeiculos(idTipoVeiculo, btnTipoVeiculo) {
        
        $.ajax({
            type: "GET",
            url: '@Url.Action("Filtrar", "Veiculo")',
            data: { idTipoVeiculo },
            success: function (recData) {

                $('.container-produtos').html('');
                $('.container-produtos').html(recData);

                $('.btn-filtro-veiculos').removeClass('active');
                $(btnTipoVeiculo).addClass('active');
            },
            error: function (recData) {
                console.log(recData)
            },
            complete: function () {

            }
        });
    }

    //function ListarTiposVeiculos() {

    //    $.ajax({
    //        type: "GET",
    //        url: '@Url.Action("ListarTiposVeiculo", "Veiculo")',
    //        data: {},
    //        success: function (recData) {

    //            $('.container-tipos-veiculo').html(recData);
    //        },
    //        error: function (recData) {
    //            console.log(recData);
    //        },
    //        complete: function () {

    //        }
    //    });
    //}
</script>